<div class="container">
  <%= render "shared/navstrip" %>

  <div data-no-turbolink>
    <%= catalog_links @catalog %>
  </div>

  <div class="row">
	<div class="col-md-12 wrapper">
	  <% unless @products.count == 0 %>
	    <%= render @products %>
	  <% else %>
		<h3 class="text-warning text-center">我们暂时还没有提供该类型的商品, 请您稍后再来看看。</h3>
	  <% end %>
	</div>
  </div>
</div>
