<div class="container">
  <%= form_for current_user, html: { multipart: true } do |f| %>
    <%= image_tag current_user.avatar.url(:thumb), title: "用户头像" %>
	<div class="form-group">
	  <p class="help-block">请选择要上传的头像文件</p>
      <%= f.file_field :avatar %>
	</div >

	<div class="form-group">
      <%= f.submit "修改", class: "btn btn-default btn-lg" %>
	</div>
  <% end %>
</div>
