<div class="container">
  <h1>Users#show</h1>
  <p>Find me in app/views/users/show.html.erb</p>
  
  <ul>
    <li><%= image_tag @user.avatar.url(:thumb), title: "用户头像" %></li>
    <li><%= @user.username %></li>
    <li><%= @user.email %></li>
  </ul>
</div>
