  <div class="row head-bar">
	<div class="col-md-2 logo">
	  [the logo]
	</div>

	<div class="col-md-4 slogen">
	  果蔬生鲜,文山人的网上菜市!
	</div>

	<div class="col-md-4 search">

      <form id="navbar-search-form" class="navbar-form navbar-left" role="search">
        <input type="text">
        <button type="submit">搜索</button>
      </form>
	</div>
	<div class="col-md-2 info">
		<p>微信</p>
		<p>QQ</p>
		<p>电话</p>
	</div>
  </div>

  <%= render "shared/navstrip" %>
