  <div class="row head-bar">
	<div class="col-md-2 logo">
	  [the logo placeholder]
	</div>

	<div class="col-md-4 slogen">
	  果蔬生鲜,文山人的网上菜市!
	</div>

	<div class="col-md-4 search">

		<%= search_form_for @q, url: search_products_path, html: {method: :post, class: "navbar-form navbar-left"} do |f| %>
		<%= f.search_field :name_or_description_cont %>
		<%= f.submit "搜索" %>
	  <% end %>
	</div>
	<div class="col-md-2 info">
		<p>微信</p>
		<p>QQ</p>
		<p>电话</p>
	</div>
  </div>

  <%= render "shared/navstrip" %>
