  <div class="row">
	<div class="col-md-12 nav-strip">
	  <ul>
		<li><%= link_to "分类", catalogs_path %></li>
		<li data-no-turbolink><%= link_to "首页", root_path %></li>
	    <li><a href="#">组合区</a></li>
	    <li><a href="#">推荐区</a></li>
	    <li><a href="#">畅销区</a></li>
	    <li><a href="#">折扣区</a></li>
	    <li><a href="#">营养搭配</a></li>
	    <li><a href="#">食谱精选</a></li>
	  </ul>
	</div>
  </div>


