<div class="sidebar-wrapper">
  <div class="sidebar">
    <div id="cart" class="cart">
      <span class="glyphicon glyphicon-shopping-cart"></span>
    </div>
  
    <div id="go-top" class="top">
      <span class="glyphicon glyphicon-menu-up"></span>
    </div>
  </div>
  
  <div id="cart-line-items">
  </div>
</div>
