<div class="container">
  <div class="row">
	<div class="col-md-2">
      <ul>
        <%= get_catalogs_html('分类').html_safe %>
      </ul>
    </div>

	<div class="col-md-10">
	  <%= render @products %>
	</div>
  </div>
</div>
