<div class="container">
  <div class="row head-bar">
	<div class="col-md-2 logo">
	  [the logo]
	</div>
	<div class="col-md-10 info">
	</div>
  </div>

  <div class="row nav-strap">
  </div>

  <div class="row">
	<div class="col-md-2 catalog">
	  <ul>
	    <% @catalogs.each do |k, v| %>
			<li><%= link_to k.name, "#" %>
		      <ul>
			    <% v.each do |c| %>
				  <li><%= link_to c.name, "#" %></li>
			    <% end %>
		      </ul>
			</li>
		<% end %>
	  </ul>
    </div>
	
	<div class="col-md-10 poster">
	  <ul class="rslides">
	    <li><img src="poster/images/1.jpg" alt="poster1"></li>
	    <li><img src="poster/images/2.jpg" alt="poster1"></li>
	    <li><img src="poster/images/3.jpg" alt="poster1"></li>
	  </ul>
	</div>

  </div>

  <div class="row">
	<div class="col-md-10">
	  <%= render @products %>
	</div>
  </div>
</div>
