<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <table class="orders table table-bordered table-hover">
		<thead>
		  <th>ID</th>
		  <th>名称</th>
		  <th>金额(元)</th>
		  <th>状态</th>
		  <th>时间</th>
		  <th>操作</th>
		</thead>
		<tbody>
		  <%= render @orders %>
		</tbody>
	  </table>
	</div>
  </div>
</div>
