/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

$font-family-base: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brand-primary: #1b983c;
$link-color: $brand-primary;
$gray-base: #333;
$body-bg: #fff;
$text-color: #222;
//$link-color: #fff;
//$link-hover-color: #fff;
$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;
$navbar-height: 30px;
$navbar-border-radius: 0;
$navbar-default-border: transparent;
$navbar-default-color: #f8f8f8;
$navbar-default-link-color: #f8f8f8;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-bg: #3c7e3c; //rgba(255,111,111,.5);

$line-color: #ddd;
$pannel-color: #f8f8f8;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate.min";
@import "owl.carousel";

@import "home";
@import "products";
@import "line_items";


.navbar {
	margin-bottom: 0;
	font-size: 13px;
	p {
		padding-top: 1px;
	}
}

.wrapper {
	padding: 0;
	margin: 0;
}

.foot {
	background-color: lighten($gray-base, 5%);
	height: 200px;
	margin-top: 30px;
}
