// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	& > div {
		margin-top: 10px;
	}
}

.head-bar {
	height: 100px;
	background-color: #fcc;
	.logo {
		background-color: #ccc;
		height: 100%;
	}

	.info {
		height: 100%;
	}
}

.nav-strap {
	height: 30px;
	background-color: #f88;
}

.poster {
	height: 300px;
	background-color: #fc8;
}

.catalog {
	background-color: #bc8;
	margin: 0;
	padding: 0;
	position: relative;

	ul {
		padding: 0;
		list-style: none;
		li {
			background-color: #ff8;
		}
	}

	& > ul {
		& > li { display: none; }
		& > ul {
			& > ul {
				display: none;
				position: absolute;
				height: 100%;
				width: 300px;
				top: 0;
				left: 0;
				z-index: 999;
			}

			& > li:hover + ul {
				display: block;
			}

		}
	}

}
