// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head-bar {
	height: 100px;
	padding: 0 15px;
	margin-top: 15px;
	
	div {
		background-color: #ffffa9;
		height: 100%;
	}

	.logo {
	}

	.slogen {
		color: #f42;
		padding-top: 30px;
		font-size: 1.7em;
	}

	.search {
		padding-top: 35px;
		form {
			position: relative;
			width: 350px;
			padding: 0;
			border: 2px solid $brand-primary;
		}
		input {
			height: 30px;
			width: 100%;
			outline: none;
			border-width: 0;
		}
		button {
			background-color: $brand-primary;
			color: #fff;
			position: absolute;
			top: 0;
			right: 0;
			outline: none;
			height: 30px;
			width: 70px;
			border-width: 0;
		}
	}

	.info {

	}
}

.nav-strip {
	height: 30px;
	line-height: 30px;
	margin: 30px 0 !important;
	ul {
		text-align: center;
		list-style: none;
		//background-color: #fffb73;
		//border-bottom: 2px solid lighten($gray-base,50%);
		li {
			display: inline-block;
			width: 100px;
			text-align: center;
			font-size: 1.1em;
			letter-spacing: 2px;
			a {
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				font-weight: 500;
			}
			&:hover {
				border-bottom: 3px solid lighten($gray-base,5%);
			}
		}
	}
}

.main-pannel {
	margin-bottom: 30px;
}

.catalog {
	margin: 0;
	padding-right: 0;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& > ul {
		position: relative;
		& > li {
			border-bottom: 1px solid lighten($gray-base,10%);
			background-color: lighten($gray-base, 5%);
			height: 40px;
			line-height: 40px;
			font-size: 1.2em;
			letter-spacing: 0.8em;
			& > a {
				text-decoration: none;
				display: block;
			}
			// 弹出分类菜单
			& > ul {
				display: none;
				position: absolute;
				z-index: 999;
				background-color: rgba(255,255,255,.9);
				width: 400px;
				height: 100%;
				left: 100%;
				top: 0;
				li {
					display: inline-block;
					font-size: 16px;
					letter-spacing: 2px;
					margin: 0 5px;

				}
			}
			&:hover {
				background-color: lighten($gray-base, 50%);
			}
			&:hover > ul {
				display: block;
			}
		}
		
	}

}

// slider style

.slider {
	padding-left: 0;
}

#owl-slider {
	position: relative;

	.item {
		height: 400px;
		overflow: hidden;
	}

	&:hover .owl-buttons .owl-prev,
	&:hover .owl-buttons .owl-next {
		display: block;
	}

	.owl-buttons {
		.owl-prev, .owl-next {
			display: none;
			opacity: 0.7;
			position: absolute;
			top: 39%;
			z-index: 3;
			width: 40px;
			height: 70px;
			line-height: 70px;
			color: #fff;
			text-align: center;
			text-decoration: none;
			background-color: #000;
		}
		.owl-next {
			right: 0;
		}
	}

	.owl-pagination {
		z-index: 3;
		position: absolute;
		bottom: 0;
		height: 15px;
		width: 100%;
		text-align: center;
		opacity: 0.5;
		.owl-page {
			display: inline-block;
			width: 100px;
			height: 5px;
			margin-right: 1px;
			span {
				display: block;
				width: 100%;
				height: 100%;
				background-color: #fff;
			}
		}
		.active {
			span {
				background-color: #000;
			}
		}
	}
}

// product area style

.head-strip {
	margin: 15px 0;
	.wrapper {
		border-bottom: 1px solid darken($pannel-color, 5%);
		position: relative;
		a {
			font-size: 1.5em;
		}
		.more {
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 1em;
		}
	}
}
