// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart {
	th {
		text-align: center;
	}

	.line-items {
		img {
			width: 100px;
			height: 100px;
		}
		td {
			max-width: 300px;
			text-align: center;
		}
		td.description {
			text-align: left;
		}
		#picture {
			width: 120px;
		}

	}
}
