// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.catalog-level {
	font-size: 1.2em;
	a {
		margin: 5px;
		text-decoration: none;
	}
}

.description {
	line-height: 1.5;
}

.product-info {
	font-size: 1.1em;
	line-height: 2;
	//border: 1px solid #ddd;
	background-color: #f8f8f8;
	& > div {
		padding-bottom: 5px;
	}

	.icons {
		a:link {
			color: $text-color;
		}
		a:hover {
			color: lighten($text-color, 10%);
		}
		a:visited, a:active, a:hover {
			text-decoration: none;
			outline: none;
		}
		span {
			margin-left: 5px;
		}
	}

}
