// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// product show page css
.catalog-level {
	font-size: 1.2em;
	a {
		margin: 5px;
		text-decoration: none;
	}
}

.description {
	line-height: 1.5;
}

.product-info {
	font-size: 1.1em;
	line-height: 2;
	padding: 20px;
	//border: 1px solid #ddd;
	background-color: #f8f8f8;
	padding-bottom: 5px;
	.icons {
		.like, .look {
			color: $brand-primary;
		}
	}
}

.buy {
	margin-top: 20px;
	padding: 20px;
	background-color: #f8f8f8;
	#buycount {
		width: 90px;
		height: 40px;
	}
	.buy-buttons {
		margin-top: 20px;
		.buy-button {
			width: 150px;
		}
	}
}

// product box css
.product-box {
	background-color: #f8f8f8;

	.icons {
		.like, .look {
			color: $brand-primary;
		}
		a:link {
			color: $brand-primary;
		}
		a:hover {
			color: lighten($brand-primary, 10%);
		}
		a:visited, a:active, a:hover {
			text-decoration: none;
			outline: none;
		}
		span {
			margin-left: 5px;
		}
	}
}

//product list css
.products-list {
	.product {
		.picture {
			width: 100px;
			height: 100px;
		}
		td {
			max-width: 500px;
		}
	}
}
