// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// product show page css

.product-detail {
	color: darken($pannel-color, 60%);

	.description {
		line-height: 1.5;
	}

	.product-info {
		padding: 15px;
		background-color: #f8f8f8;
		padding-bottom: 5px;
		.product-name, .product-price, .product-amount {
			padding-bottom: 1em;
		}
		.icons {
			span {
				padding-right: 10px;
			}
			.like, .look {
				color: $brand-primary;
			}
		}
	}

	.buy {
		margin-top: 15px;
		padding: 15px;
		background-color: #f8f8f8;
		#buycount {
			width: 60px;
		}
		.buy-buttons {
			margin-top: 15px;
			.buy-button {
				width: 130px;
			}
		}
	}

}


// product box css
.product-box {
	background-color: $pannel-color;
	box-shadow: 0 0 3px 0 $pannel-color;
	border-color: darken($pannel-color, 5%);
	overflow: hidden;

	.product-name, .product-price, .product-amount {
		overflow: hidden;
		height: 1.5em;
	}
	.caption {
		color: darken($pannel-color, 60%);
	}

	.buttons {
		padding-top: 10px;
		border-top: 1px solid darken($pannel-color, 5%);
		.icons {
			height: 1.5em;
			span {
				padding-right: 5px;
			}
			.like, .look {
				color: $brand-primary;
			}
			a:link {
				color: $brand-primary;
			}
			a:hover {
				color: lighten($brand-primary, 10%);
			}
			a:visited, a:active, a:hover {
				text-decoration: none;
				outline: none;
			}
		}

		.buy {
			text-align: center;
			padding: 0;
			margin: 0;
		}
	}
}

//product list css
.products-list {
	.product {
		.picture {
			width: 100px;
			height: 100px;
		}
		td {
			max-width: 500px;
		}
	}
}

//product search result
.search-result {
	.sort-strip {
		padding: 15px;
		color: darken($pannel-color, 60%);
		.links {
			display: inline-block;
			float: right;
			a {
				text-decoration: none;
				margin: 0 5px;
			}
		}
	}
}
