// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page {
	color: darken($pannel-color, 60%);
	.user-info, .user-extra {
		padding: 15px;
		background-color: #f8f8f8;
		& > div {
			padding: 5px 0;
		}
	}

	.user-extra {
		margin-top: 15px;
		.like {
			color: $brand-primary;
		}
		span {
			padding-right: 10px;
			font-size: 1.5em;
		}
	}
}
