<div class="container">
<p id="notice"><%= notice %></p>

<h1>商品清单</h1>

<table class="table table-striped products-list">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Amount</th>
      <th>State</th>
      <th colspan="4">Action</th>
    </tr>
  </thead>

  <tbody>
	<% @products.each do |product| %>
	  <%= render 'product_item', product: product %>
	<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
</div>
